header{
    background-color: aqua;
}
footer{
    background-color: burlywood;
}
section span img{
    height: 200px;
    width: 200px;
}
span{
    background-color: darkorange;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
}
div{
    display: inline-block;
    background-color: chartreuse;
    width: 100px;
    height: 100px;
}
li{
    background-color: brown;
    display: inline;
}
a{
    text-decoration: none;
}