body{
    background: linear-gradient(90deg, blue, yellow);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px, 1fr));
}

.grid-item{
    background-color: rgba( 0, 0, 0, 0.3);
    border: 1px solid black;
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 1rem;
}