a{
    background-color: gray;
    color: black;
    border: 1px solid red;
    padding: 2px;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.5s;
}
a:hover{
    background-color: green;
    color: blue;
    padding: 8px 4px;
    border: 1px solid violet;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.5s;
}

a:visited{
    color: yellow;
    background-color: blue;
}

a:active{
    color: pink;
    background-color: aqua;
}

a::before{
    content: "<<";
}

a::after{
    content: ">>";
}

.anim{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    background-color: gray;
    animation: changeColor 1s infinite alternate;
}
.parrafo{
    color: green;
    /*
    transform: translateY(200px);
    transform: skew(3deg, 6deg);
     rotacion
    */ 
}




/* <------------------------- ------------------------------->*/

@keyframes changeColor {
    0%{
        background-color: red;
    }
    25%{
        background-color: chocolate;
    }
    50%{
        background-color: green;
        width: 200px;
        margin:100px
    }
    75%{
        background-color: chartreuse;
    }
    100%{
        background-color: yellow;
    }
}

@media screen and (max-width:640px) { /*celulares*/
    .parrafo{
        color: violet;
        font-size: 8px;
    }
    h1{
        color: blue;
    }
}

@media screen and (max-width:1024px) and (min-width:640px) { /*tablets*/
    .parrafo{
        color: blue;
        font-size: 15px;
    }
    h1{
        color: red;
    }
}

@media screen and (min-width:1024px) { /*Pcs*/
    .parrafo{
        color: coral;
        font-size: 30px;
    }
    h1{
        color: mediumaquamarine;
    }
}

/*@keyframes changeColor {
    from{
        background-color: red;
    }
    to{
        background-color: green;
    }
}*/