<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">  
        <input type="text" v-bind:value="valorBind">
    <p>{{valorBind}}</p>

    <p>Doble binding</p>
    <input type="text" v-model:value="valorModel">
    <p>{{valorModel}}</p>


    <p>Link dinamico</p>
    <p >Ver documentacion de: 
        <a v-bind:href="link">{{nombreLink}}</a>    
    </p>

    <p v-if="nombre">
        Hola {{nombre}}
    </p>
    <p v-else>
        Ingrese su nombre
    </p>
    <input type="text" v-model="nombre">

    <p v-for="tec in tecnologias">
        {{tec}}
    </p>

    <ul>
        <li v-for="tec in tecnologias">{{tec}}</li>
    </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>