.padre{
    border: 5px solid black;
    width: 50vw;
    height: 50vh;
    margin: auto;
    position: relative;
}

.relative{
    background-color: coral;
    width: 150px;
    height: 150px;
    position: relative;
    left: 50px;
}

.absolute{
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
}

.fixed{
    background-color: hotpink;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 200px;
}

.sticky{
    background-color: red;
    width: 150px;
    height: 150px;
    position: sticky;
    top: 20px;
}