/*html{
    font-size: 16px; valor por defecto de un archivo .html
}*/

html{
    font-size: 62.5%;/*con este valor el font-size pasa a medir 10px*/
}

.em{
    font-size: 2em;/*se fija en el valor de la clase padre. Ej: <p> <section> <main> <html>*/
}

.rem{
    font-size: 2rem;/*solo se fija en el valor de la clase html*/
}

img{
    width: 50vw;/*se modifica el tamaño segun el de la ventana*/
}
