@font-face {
    font-family: RisalahCinta;
    src: url(fonts/RisalahCinta.otf);
}

h1{
    font-family: RisalahCinta;
    color: pink;
    font-size: 75px;
    margin-right: 25%;
}

body{
    text-align: center;
}
table{
    margin: auto;
}

td,th{
    width: 150px;
    border-style: solid; 
    border-color: #3374FF;
    background-color: #C5D3F1;
}

img{
    height: 160px;
    width: 160px;
}

.logo-img{
    height: 10%;
    width: 10%;
}
