html{
    font-size: 62.5%;
}

@font-face {
    font-family: RisalahCinta;
    src: url(fonts/RisalahCinta.otf);
}

h1{
    font-family: RisalahCinta;
    color: pink;
    font-size: 7.5rem;
    margin-right: 25%;
}

body{
    text-align: center;
    display: grid;
}
table{
    border: 0.2rem solid rgb(35, 80, 204);
    margin: auto;
}

td{
    padding: 1rem;
    width: 15rem;
    border:solid #3374FF; 
    background-color: #C5D3F1;
}

img{
    height: 16rem;
    width: 16rem;
}

.logo-img{
    height: 10%;
    width: 10%;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

nav{
    align-content: center;
    padding-left: 40%;
}

#WhatsappButton{
    float:left;
    margin-left: 25rem;
    padding: 1rem;
    border: 3rem groove rgb(136, 219, 11); 
    background-color: greenyellow;
}

#InstagramButton{
    float:right;
    margin-right: 25rem;
    padding: 1rem; 
    border: 3rem groove rgb(221, 107, 206);  
    background-color: rgb(238, 179, 230);
}